@media (min-width: 981px) {
    body {
        padding-top: 60px;
    }
}

.btn-input {
    display: block;
}

.btn-input .btn.form-control {
    text-align: left;
}

.btn-input .btn.form-control span:first-child {
    left: 1em;
    right: 1em;
    top: 0.5em;
    justify-content: flex-start;
    overflow: hidden;
    position: absolute;
}

.btn-input .btn.form-control .caret {
    margin-top: -1px;
    position: absolute;
    right: 0.5em;
    top: 50%;
}

.dropdown-menu {
    position: absolute;
    top: 2.5em;
}